body {
    background-color: #808080;
}
.containerDiv {
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: red;
    width: 50%;
    height: 50%;
}
.childDiv{
    position:relative;
    top:1%;left:1%; 
    background-color:green;
    margin:2px; 
    width:100px;
    height:25px;
}